html {
  height: 100%;
  width: 100%;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-image: url("https://mcdn.wallpapersafari.com/medium/10/7/KSxQD3.jpg"); 
  font-family: "Gill Sans", serif;
}
.form input[type="number"] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}

#head{
  text-align: center; 
  border-radius: 12px;
}
.game {
  border: 10px solid #00000055;
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  position: fixed;
  top: 50%;
  left: 50%; 
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #5F9EA0;
  border-radius: 24; 
  opacity: 1;
}

.reset {
  align-content: center;
  text-align: center;
}

.conteiner {
  margin-top : 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
} 

.form {
  text-align : center;
}  

.newG {
  text-align : center;
} 

.resultParas {
  text-align: center;
}

#guessSubmit{
  margin-top: 10px;
}

.content {
  color : #000000;
}

.guessesL {
  margin-top: 20px;
}

.guesses {
  margin-top: 0px;
}
