html {
  height: 100%;
  width: 100%;
}
body {
  width: 50%;
  max-width: 600px;
  min-width: 700px;
  margin: 0 auto; 
  color: #000000;
  font-family: "Gill Sans", serif;

  border-radius : 16px;
  border: 70px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 24;
  opacity: 1;
  background-image:url("https://mcdn.wallpapersafari.com/medium/10/7/KSxQD3.jpg");
}
.text{
  width: 50%;
    max-width: 600px;
    min-width: 700px;
    border-radius : 16px;
    border: 50px solid #00000055;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%); 
    background-color: #5F9EA0;
    border-radius: 24;
    opacity: 1;  
}





